<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!--Responsável por fazer a aplicação do @media do css-->

    <title>Happy</title>
    <link rel="icon" href="/images/logo-icon.png"/>

    <link rel="stylesheet" href="/css/main.css"> <!--Caminho do arquivo css-->
    <link rel="stylesheet" href="/css/animations.css"> <!--Caminho do arquivo css-->
    <link rel="stylesheet" href="/css/page-landing.css"> <!--Caminho do arquivo css-->

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">

  </head>
  <body id="body">
    <div id="page-landing">
        <div id="container" class="animate-up">
            <header> <!--Cabeçalho-->
                <img 
                    class="animate-up"
                    id ="logo" 
                    src="/images/logo.svg" 
                    alt="Logomarca do Happy" />
          
                <div class="location animate-up"> <!--Container (Caixa)-->
                  <strong>Brasilia</strong> <!--Negrito-->
                  <p>Distrito Federal</p> <!--Paragrafo-->
                </div>

              </header>
              <main>  <!--Conteúdo principal da página-->
                  <h1 class="animate-up"> <!--Títuilos-->
                      Leve felicidade para o mundo
                  </h1>
          
                  <section class="visit"> <!--Sessão, Pega uma linha inteira-->
                      <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>
          
                      <a href="/orphanages" title="Visite orfanatos" class="animate-up"> <!--a tag title é universal. Serve em qlq tag-->
                          <img src="/images/arrow.svg" alt="Ir para o mapa">
                      </a>
                  </section>
              </main>
        </div>
    </div>
  </body>
</html>